		* {
			padding: 0;
			margin: 0;
			list-style: none;
		}
		ul {
			position: relative;
			width: 800px;
			height: 200px;
		}
		ul .ele {
			float: left;
			width: 198px;
			height: 198px;
			border: 1px solid black;
			text-align: center;
			line-height: 198px;
		}
		ul li.bg {
			position: absolute;
			left: 0;
			top: 0;
			width: 200px;
			height: 200px;
			background: orange;
			opacity: 0.4;
		}